atcoder/
x64/Debug/
.vscode/
.cph/
.vs/
build/
11049.exe
PS.exe
hmmm.exe
PSSampleProject.sln
PSSampleProject.vcxproj
PSSampleProject.vcxproj.filters
PSSampleProject.vcxproj.user
hmmm.py
.DS_store
main.cpp